[submodule "yolov5"]
	path = object_detectors/submodules/yolov5
	url = https://github.com/lmitechnologies/yolov5.git
	branch = ais
[submodule "classifiers/efficientnet"]
	path = classifiers/efficientnet
	url = https://github.com/lmitechnologies/EfficientNet-PyTorch.git
	branch = ais
[submodule "object_detectors/tf_objdet/models"]
	path = object_detectors/tf_objdet/models
	url = https://github.com/lmitechnologies/models.git
	branch = ais
[submodule "ocr_models/PaddleOCR"]
	path = ocr_models/PaddleOCR
	url = https://github.com/lmitechnologies/PaddleOCR.git
	branch = ais
[submodule "anomaly_detectors/submodules/anomalib"]
	path = anomaly_detectors/submodules/anomalib
	url = https://github.com/lmitechnologies/anomalib
	branch = ais
