#ignore files
*.pyc
*.html

#pytorch weights
*.pt

#ignore folders
**.vscode
data
.ipynb_checkpoints
validation
training
weights
wandb
trained-inference-models
pretrained-models
records
venv
testfiles
logs
temp
config
untracked-data
debug
*.egg-info
datasets
runs
outputs