[submodule "yolov5"]
	path = object_detectors/yolov5
	url = git@github.com:lmitechnologies/yolov5.git
	branch = master
[submodule "object_detectors/models"]
	path = object_detectors/models
	url = git@github.com:lmitechnologies/models.git
[submodule "classifiers/efficientnet"]
	path = classifiers/efficientnet
	url = git@github.com:lmitechnologies/EfficientNet-PyTorch.git
	branch = master
[submodule "object_detectors/tf_objdet/models"]
	path = object_detectors/tf_objdet/models
	url = git@github.com:lmitechnologies/models.git
[submodule "object_detectors/detectron2"]
	path = object_detectors/detectron2
	url = git@github.com:lmitechnologies/detectron2.git
	branch = master
