torch==2.4.1
torchvision==0.19.1
scikit-learn==1.7.2
tensorboard==2.20.0
numba==0.65.1
numpy<2.0
ultralytics==8.4.67
onnx==1.22.0
pytest==9.1.0
rfdetr==1.8.1
albumentations>=2.0.8,<3.0.0
transformers<5.13
onnxruntime==1.21.0