torch==2.4.1
torchvision==0.19.1
scikit-learn==1.7.2
tensorboard==2.20.0
numba==0.65.1
numpy<2.0
ultralytics==8.4.46
onnx==1.21.0
pytest==9.0.3
rfdetr==1.6.5.post0
albumentations>=2.0.8,<3.0.0
transformers<5.9